# Without using pandas:

In [68]:
countdic = {}
airlines = open('airlines.csv','r')
lines = airlines.readlines()
flag = 0
for line in lines:
    if flag == 1:
        name = line.split(',')
        name = name[1]+name[2]
        countdic[name]=0
    else:
        flag = 1
flag = 0
for line in lines:
    if flag ==1:
        name = line.split(',')
        name = name[1]+name[2]
        countdic[name]+=1
    else:
        flag =1

# Output 1: Get list of unique airport names and number of times it is repeated in a json format

In [69]:
import json
print(json.dumps(countdic,indent=4))

{
    "\"Atlanta GA: Hartsfield-Jackson Atlanta International\"": 154,
    "\"Boston MA: Logan International\"": 150,
    "\"Baltimore MD: Baltimore/Washington International Thurgood Marshall\"": 150,
    "\"Charlotte NC: Charlotte Douglas International\"": 150,
    "\"Washington DC: Ronald Reagan Washington National\"": 150,
    "\"Denver CO: Denver International\"": 150,
    "\"Dallas/Fort Worth TX: Dallas/Fort Worth International\"": 150,
    "\"Detroit MI: Detroit Metro Wayne County\"": 150,
    "\"Newark NJ: Newark Liberty International\"": 150,
    "\"Fort Lauderdale FL: Fort Lauderdale-Hollywood International\"": 150,
    "\"Washington DC: Washington Dulles International\"": 150,
    "\"Houston TX: George Bush Intercontinental/Houston\"": 150,
    "\"New York NY: John F. Kennedy International\"": 150,
    "\"Las Vegas NV: McCarran International\"": 150,
    "\"Los Angeles CA: Los Angeles International\"": 150,
    "\"New York NY: LaGuardia\"": 150,
    "\"Orlando FL: Orlando International\"": 150,
    "\"Chicago IL: Chicago Midway International\"": 150,
    "\"Miami FL: Miami International\"": 150,
    "\"Minneapolis MN: Minneapolis-St Paul International\"": 150,
    "\"Chicago IL: Chicago O'Hare International\"": 150,
    "\"Portland OR: Portland International\"": 149,
    "\"Philadelphia PA: Philadelphia International\"": 149,
    "\"Phoenix AZ: Phoenix Sky Harbor International\"": 137,
    "\"San Diego CA: San Diego International\"": 149,
    "\"Seattle WA: Seattle/Tacoma International\"": 149,
    "\"San Francisco CA: San Francisco International\"": 149,
    "\"Salt Lake City UT: Salt Lake City International\"": 149,
    "\"Tampa FL: Tampa International\"": 149
}

# Output 2: Which airport is mentioned highest number of times and its count

In [70]:
v = list(countdic.values())
k = list(countdic.keys())
print(k[v.index(max(v))],'Count = {}'.format(max(v)))

"Atlanta GA: Hartsfield-Jackson Atlanta International" Count = 154

# Output 3: Which airport is mentioned lowest number of times and its count

In [71]:
v = list(countdic.values())
k = list(countdic.keys())
print(k[v.index(min(v))],'Count = {}'.format(min(v)))

"Phoenix AZ: Phoenix Sky Harbor International" Count = 137

# Using Pandas

In [72]:
import pandas as pd
airlines = pd.read_csv('airlines.csv')
airlines

,Airport.Code,Airport.Name,Time.Year,Statistics.Flights.Cancelled
0,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003,216
1,BOS,"Boston, MA: Logan International",2003,138
2,BWI,"Baltimore, MD: Baltimore/Washington Internatio...",2003,29
3,CLT,"Charlotte, NC: Charlotte Douglas International",2003,73
4,DCA,"Washington, DC: Ronald Reagan Washington National",2003,74
...,...,...,...,...
4329,ORD,"Chicago, IL: Chicago O'Hare International",2015,875
4330,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003,216
4331,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003,216
4332,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003,216
4333,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2003,216

# Output 1: Get list of unique airport names and number of times it is repeated in a json format

In [73]:
airlines['Airport.Name'].value_counts().to_json()

'{"Atlanta, GA: Hartsfield-Jackson Atlanta International":154,"Chicago, IL: Chicago Midway International":150,"Newark, NJ: Newark Liberty International":150,"Los Angeles, CA: Los Angeles International":150,"Denver, CO: Denver International":150,"Minneapolis, MN: Minneapolis-St Paul International":150,"Baltimore, MD: Baltimore\\/Washington International Thurgood Marshall":150,"Chicago, IL: Chicago O\'Hare International":150,"Boston, MA: Logan International":150,"Houston, TX: George Bush Intercontinental\\/Houston":150,"Detroit, MI: Detroit Metro Wayne County":150,"Washington, DC: Washington Dulles International":150,"Dallas\\/Fort Worth, TX: Dallas\\/Fort Worth International":150,"Orlando, FL: Orlando International":150,"Las Vegas, NV: McCarran International":150,"Charlotte, NC: Charlotte Douglas International":150,"Washington, DC: Ronald Reagan Washington National":150,"New York, NY: John F. Kennedy International":150,"Fort Lauderdale, FL: Fort Lauderdale-Hollywood International":150,"Miami, FL: Miami International":150,"New York, NY: LaGuardia":150,"San Diego, CA: San Diego International":149,"San Francisco, CA: San Francisco International":149,"Seattle, WA: Seattle\\/Tacoma International":149,"Philadelphia, PA: Philadelphia International":149,"Salt Lake City, UT: Salt Lake City International":149,"Portland, OR: Portland International":149,"Tampa, FL: Tampa International":149,"Phoenix, AZ: Phoenix Sky Harbor International":137}'

# Output 2: Which airport is mentioned highest number of times and its count

In [74]:
airlines['Airport.Name'].value_counts().head(1)

Atlanta, GA: Hartsfield-Jackson Atlanta International    154
Name: Airport.Name, dtype: int64

# Output 3: Which airport is mentioned lowest number of times and its count

In [75]:
airlines['Airport.Name'].value_counts().tail(1)

Phoenix, AZ: Phoenix Sky Harbor International    137
Name: Airport.Name, dtype: int64